@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300;400;500;700&display=swap');
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 69px;
    display: flex;
    background-color: #fff;
    align-items: center;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar-list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: -11px;
    margin-top: 6px
}
.header__navbar-item {
    padding: 10px 10px;
    display: flex;
    font-size: 1.2rem;
    color: #666666D9;
}
.header__navbar-link {
    text-decoration: none;
    color: #666666D9
}
.header__navbar-logo-link {
    text-decoration: none;
}
.header__navbar-logo-img {
    width: 179px;
    height: 59px;
    padding-top: 10px;
}
.header__navbar-icon {
    text-decoration: none;
    padding: 0 5px 0 10px;
    color: #666666D9;
}

.header__navbar-item > a :hover,
.header__navbar-link:hover {
    cursor: pointer;
    color: #233785;
}
/* slider */

.slider {
    width: 100%;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
}
.slides {
    width: 500%;
    height: 700px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
}
.slide img {
    width: 100%;
    height: 700px;
}
/* manual */
.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background-color: #40D3DC;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}
.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    display: none;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;

}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #40D3DC;
}


.slider__content {
    position: absolute;
    bottom: 244px;
    color: white;
    text-align: center;
    width: 100%;
}
.slider__content-heading {
    font-weight: bolder;
    font-size: 3.0rem;
}
.slide__content-intro {
    margin-top: 20px;
}
.slider__content-text {
    padding: 5px 0;
    font-size: 1.5rem;
}
/* app__container */
#app_content {
    padding: 30px 0;
}
.app_container-profile-img {
    width: 100%;
    height: 300px;
}
.app__container-link {
    text-decoration: none;
}
.app__container-profile-heading {
    margin-top: 10px;
    font-size: 1.4rem;
}
.app__container-profile-info {
    margin-top: 10px;
    line-height: 1.2rem;
    color: #353535;
    font-size: 1.2rem;
}
.app_container-profile-img {
    border-radius: 3px;
}
.app_container-profile-img:hover {
    opacity: 0.6;
}
/* footer */
.footer {
    height: 200px;
    background-color: #222222;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content-text {
    color: #fff;
    font-size: 1.2rem;
}
/* Exercise */
.background {
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #594f07;
    margin-bottom: 100px;
    overflow: hidden;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home-btn {
    margin-bottom: 15px;
}
.home-btn-link:hover {
    color: #8a7b0b;
}
.home-btn-link {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}
.container-text {
    color: #fff;
    font-size: 3rem;
}
.container-text h1 {
    font-size: 60px;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
}
